[submodule "src/HyperText.Avalonia"]
	path = src/HyperText.Avalonia
	url = https://github.com/Project-Babble/HyperText.Avalonia
[submodule "src/VRCFaceTracking"]
	path = src/VRCFaceTracking
	url = https://github.com/Project-Babble/VRCFaceTracking.git
